@{
    ViewData["Title"] = "Home Page";
}

    <body>

        <h1 style=" text-align:center; font-family:'Times New Roman', Times, serif">
            Dobrodošli na eBay
        </h1>

        <div class="slideshow-container">

            <div class="mySlides">
                <q>If you can't stop thinking about it then buy it</q>
                <p class="author">- Tammy Faye Bakker</p>
            </div>

            <div class="mySlides">
                <q>I always say shopping is cheaper than a psychiatrist</q>
                <p class="author">- Bo Derek</p>
            </div>

            <div class="mySlides">
                <q>Happiness is receiving what you ordered online.</q>
                <p class="author">- Sophie Kinsella</p>
            </div>

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

        </div>

        <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>

        <script>
            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("dot");
                if (n > slides.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = slides.length }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
            }
        </script>

        <div class="w3-container">

        <h1 style="text-align:center; font-family:'Times New Roman', Times, serif">O nama </h1>



        <p style="text-align:center; font-family:'Times New Roman', Times, serif">
            U doba kada trgovina predstavlja vrlo važnu grane privrede za svako društvo, a tehnologija napreduje enormnom brzinom,
            cilj je iskoristiti sve moguće potencijale kako bi svakodnevne ljudske poslove bilo moguće obavljati na što je moguće lakši i kvalitetniji način.
            eBay online platforma za kupovinu i prodaju pruža mogućnost da se svi ovi problemi lahko prevaziđu, kako za kupce, tako i za prodavače.
            Ona omogućava da kupac na vrlo jednostavan, brz i siguran način obavi svoju kupovinu, što uključuje i dostavu njegove narudžbe na adresu.
            Prodavač na ovaj način može da prilagodi svoje usluge različitim profilima kupaca,
            proširuje asortiman proizvoda koje nudi, te da njegove proizvode vrlo jednostavno može pronaći svaki kupac koji ih pretražuje.
        </p>
           
        </div>
    </body>  

    <style>
        * {
            box-sizing: border-box
        }

        body {
            font-family: Verdana, sans-serif;
            color: black;
            margin: 0
        }

        /* Slideshow container */
        .slideshow-container {
            position: relative;
            background: #f1f1f1f1;
        }

        /* Slides */
        .mySlides {
            display: none;
            padding: 80px;
            text-align: center;
        }

        /* Next & previous buttons */
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -30px;
            padding: 16px;
            color: #888;
            font-weight: bold;
            font-size: 20px;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
            position: absolute;
            right: 0;
            border-radius: 3px 0 0 3px;
        }

            /* On hover, add a black background color with a little bit see-through */
            .prev:hover, .next:hover {
                background-color: rgba(0,0,0,0.8);
                color: white;
            }

        /* The dot/bullet/indicator container */
        .dot-container {
            text-align: center;
            padding: 20px;
            background: #ddd;
        }

        /* The dots/bullets/indicators */
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

            /* Add a background color to the active dot/circle */
            .active, .dot:hover {
                background-color: #717171;
            }

        /* Add an italic font style to all quotes */
        q {
            font-style: italic;
        }

        /* Add a blue color to the author */
        .author {
            color: cornflowerblue;
        }
    </style>